@import "~@angular/material/theming";
@include mat-core();

$my-theming-primary: mat-palette($mat-grey,900,900,900);
$my-theming-accent: mat-palette($mat-pink,A200,A100,A400);
$my-theming-warn: mat-palette($mat-orange,A200,A100,A400);

$my-theme: mat-light-theme($my-theming-primary,$my-theming-accent,$my-theming-warn);

@include angular-material-theme($my-theme);
