<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <!-- <img src="./assets/img/brand/argon-white.png"> -->
      Movie Time
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
       
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Kategoriler</span>
          </a>
          <div class="dropdown-menu">
            <app-categorylist [categories]="categories"></app-categorylist>
          </div>
        </li>
      
      </ul>   
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item" placement="bottom-right" >               
            <!-- <input type="text" (keypress)="movieSearch($event)" placeholder="Film Ara" class="form-control" />               -->
            <div class="ng-autocomplete">
              <ng-autocomplete
                [data]="movies"
                placeholder="Film Ara"
                [searchKeyword]="keyword"
                (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate" >                                 
              </ng-autocomplete>
              
              <ng-template #itemTemplate let-item  style="max-height: 200px;">
                <div class="card mb-3" >
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{{item.thumbnail}}" alt="..." class="img-fluid" style="width: 250px; height: 250px; object-fit: cover;">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title" [innerHtml]="item.title"></h5>
                        <p class="card-text">{{item.description.substr(0,100)}}...</p>
                        <p class="card-text"><small class="text-muted">Imdb : {{item.imdb}}</small></p>       
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              
              <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
              </ng-template>
              </div>
        </li>     
      </ul>   
    </div>
  </div>
</nav>